.button {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 100px;
  border-radius: 100%;
  border: 3px solid #333;
  box-shadow: none;
}

.button:hover {
  cursor: pointer;
  box-shadow: 6px 6px 10px #999999;
}

.button:focus {
  outline: none;
}